/* Import some fonts */
@import url('https://fonts.googleapis.com/css?family=Dosis|Nunito');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Assistant');
@import url('https://fonts.googleapis.com/css?family=Righteous');
/* font-family : 'Righteous', cursive; */
@import url('https://fonts.googleapis.com/css?family=Orbitron');
/* font-family: 'Orbitron', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Muli:700');
/* font-family: 'Muli', sans-serif; */

body {
    height : 100%;
    background-color: azure;
    width: 100%;
    display: block;
    position: relative;
}
header {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
}
main {
    /* background-color: cornsilk; */
    text-align: center;
}
form {
    width: 50%;
    margin-left: 0;
    /* background-color: pink; */
    display: inline-block;
}
input {
    font-size: 14px;
    font-weight: 200;
}
#main-title, #title {
    font-family : 'Orbitron', sans-serif;
    width: 50%;
    font-weight: 700;
    padding-bottom: 0.2em;
}
#main-title {
    font-size: 6vw;
    color: blue;
    /* margin: 0.1em 5em 0.5em 5em; */
    background-color: azure;
    width: auto;
    font-style: italic;
}
#title {
    color: #7f13d8;
    font-style: normal;
}
#searchBtn {
    margin: 1em;
    padding: 0.3em 1em;
    border-radius: .5em;
    color: green;
    font-weight: 900;
    font-size: 1.5vh;
    font-family: 'Muli', sans-serif;
}

div#background {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
footer {
    background-color: violet;
}
#show-title {
    font-family : 'Righteous', cursive;
}
#modal {
	background-color : rgba(0, 0, 0, 0.4);
	position         : fixed;
	top              : 0;
	left             : 0;
	width            : 100%;
	height           : 100%;
	display          : none;
}
#modal-textbox {
    background-color: azure;
    font-family   : 'Nunito';
    text-align    : center;
	height        : auto;
	width         : 550px;
	border-radius : 2px;
	margin        : 150px auto;
    padding       : 20px 10px 0 10px;
	box-shadow    : 0px 2px 2px rgba(0, 0, 0, 0.2);
}
body > img {
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
    /* background: url(http://static.tvmaze.com/uploads/images/original_untouched/176/440356.jpg) no-repeat center center fixed; */
    opacity: 0.5;
    top: 7em;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
#close-text, #close {
    margin: 50px 0;
}
ul {
    padding: 0 0 2em 0;
}
.tv-1 {
    height: 100px;
    width: 100px;
    padding: 0.6em 0.8em 0 0
}
.tv-2 {
    height: 60px;
    width: 90px;
    padding: 2em 0 0 2em;
}
