/* Import some fonts */
@import url('https://fonts.googleapis.com/css?family=Dosis|Nunito');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Assistant');
@import url('https://fonts.googleapis.com/css?family=Righteous');
/* font-family : 'Righteous', cursive; */
@import url('https://fonts.googleapis.com/css?family=Orbitron');
/* font-family: 'Orbitron', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Muli:700');
/* font-family: 'Muli', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Muli:700|Paprika');
/* font-family: 'Muli', sans-serif; */
/* font-family: 'Paprika', cursive; */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
/* font-family: 'Nanum Gothic', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Doppio+One|Nanum+Gothic');
/* font-family: 'Doppio One', sans-serif; */

body {
    height : 100%;
    width: 100%;
    background-color: azure;
    display: block;
    position: relative;
}
header {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    font-size: calc(0.7em + 0.5vw);
    max-width: 100vh - 425px;
}
main {
    text-align: center;
}
form {
    width: 50%;
    margin-left: 0;
    display: inline-block;
}
input {
    font-size: 14px;
    font-weight: 200;
}
#main-title, #title {
    font-family : 'Orbitron', sans-serif;
    font-weight: 700;
    padding-bottom: 0.2em;
}

@media (max-width: 320px) {
    #main-title {
        max-width: 310px;
    }
}

#main-title {
    color: blue;
    background-color: azure;
    width: inherit;
    font-style: italic;
    margin-left: 0;
}
#title {
    color: #7f13d8;
    font-style: normal;
    margin-right: 0;
}
h1 {
    font-size: calc(1.9em + 0.6vw);
    padding: 7px;
    margin: 15px 15px 15px 15px;
}
@media (max-width: 320px) {
    h1 {
        font-size: calc(1.2em + 1.5vw);
    }
}

#searchBtn {
    margin: 1em;
    padding: 0.3em 1em;
    border-radius: .5em;
    color: green;
    font-weight: 900;
    font-size: 1.5vh;
    font-family: 'Muli', sans-serif;
}

#season-btns {
    max-width : 30em;
    display: inline-block;
}

@media (max-width: 414px) {
    #season-btns {
        max-width : 20em;
        display: inline-block;
    }
}
@media (max-width: 375px) {
    #season-btns {
        max-width : 25em;
        display: inline-block;
    }
}
@media (max-width: 320px) {
    #season-btns {
        max-width : 25em;
        display: inline-block;
    }
}

.season-btns {
    padding: 0.3em 0.4em 0.3em 0.4em;
    background: azure;
    border-radius: 28px;
    font-size: 0.8em;
}
.season-btns:hover, .season-btns:active {
    background: #7f13d8;
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}
.season-btns:active {
    background: blue;
    border: 5px solid #0099CC;
}

div#background {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
}
#show-title, #show-episode-title {
    font-family : 'Righteous', cursive;
    margin: 0 0 0.2em 0;
}
#modal, #episode-modal {
	background-color : rgba(0, 50, 100, 0.4);
	position   : fixed;
	top        : 35%;
    left       : 50%;
    transform  : translate(-50%, -50%);
	width      : 100%;
	max-height : calc(100vh - 13em);
    display    : none;
    text-align : center;
    overflow-y : auto;
}
#modal-textbox, #episode-modal-textbox {
    background-color : azure;
    font-family   : 'Nunito';
    text-align    : center;
	height        : auto;
	width         : 550px;
	border-radius : 2px;
	margin        : 150px auto;
    padding       : 20px 10px 10px 10px;
	box-shadow    : 0px 2px 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 414px) {
    #modal-textbox, #episode-modal-textbox {
        background-color : azure;
        font-family   : 'Nunito';
        text-align    : center;
    	height        : auto;
    	width         : 340px;
    	border-radius : 2px;
    	margin        : 22px auto;
        padding       : 10px 10px 10px 10px;
    	box-shadow    : 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
}
@media (max-width: 375px) {
    #modal-textbox, #episode-modal-textbox {
        background-color : azure;
        font-family   : 'Nunito';
        text-align    : center;
    	height        : auto;
    	width         : 300px;
    	border-radius : 2px;
    	margin        : 38px auto;
        padding       : 10px 10px 10px 10px;
    	box-shadow    : 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
}
@media (max-width: 320px) {
    #modal-textbox, #episode-modal-textbox {
        background-color : azure;
        font-family   : 'Nunito';
        text-align    : center;
    	height        : auto;
    	width         : 240px;
    	border-radius : 2px;
    	margin        : 25px auto;
        padding       : 10px 10px 10px 10px;
    	box-shadow    : 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
}

#episode-container, .show-container {
    background-color: blue;
    margin-left: 0;
}
@media (max-width: 414px) {
    #episode-container {
        width: 375px;
        margin-left: 1.4em;
    }
}
@media (max-width: 375px) {
    #episode-container {
        width: 340px;
        margin-left: 1.1em;
    }
}
@media (max-width: 320px) {
    #episode-container {
        width: 300px;
        margin-left: 10.0;
    }
}

@media (max-width: 414px) {
    #show-container {
        width: 360px;
        margin-right: 6.0em;
    }
}
@media (max-width: 375px) {
    #show-container  {
        width: 320px;
        margin-right: 6.0em;
    }
}
@media (max-width: 320px) {
    #show-container  {
        width: 280px;
        margin-right: 3.0em;
    }
}

#episode-options, #series-options {
    margin-top: 2em;
    display: block;
}
.series-options {
    font-family: 'Doppio One', cursive;
    font-size: 1.0em;
}
.episode-options {
    font-family: 'Paprika', cursive;
    font-size: 0.9em;
}
.episode-options, .series-options {
    background-color: azure;
    width: 400px;
    padding: 0.2em 0.4 0.2em 0.4em;
}

@media (max-width: 414px) {
    #episode-options, .episode-options, .series-options {
        width: 360px;
    }
}
@media (max-width: 375px) {
    #episode-options, .episode-options, .series-options {
        width: 340px;
    }
}
@media (max-width: 320px) {
    #episode-options, .episode-options, .series-options {
        width: 300px;
    }
}

.episode-options:hover, .series-options:hover {
    background: darkviolet;
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

#modal-textbox {
    background-color: azure;
    font-family   : 'Nunito';
    text-align    : center;
    height        : auto;
    max-width     : 340px;
    border-radius : 2px;
    margin        : 0px auto;
    padding       : 20px 10px 10px 10px;
    box-shadow    : 0px 2px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 340px;
}

@media (max-width: 414px) {
    #modal-textbox {
        background-color: azure;
        font-family   : 'Nunito';
        text-align    : center;
    	height        : auto;
    	max-width     : 340px;
    	border-radius : 2px;
    	margin        : 0px auto;
        padding       : 20px 10px 10px 10px;
    	box-shadow    : 0px 2px 2px rgba(0, 0, 0, 0.2);
        display: inline-block;
        width: 340px;
    }
}

@media (max-width: 375px) {
    #modal-textbox {
        background-color: azure;
        font-family   : 'Nunito';
        text-align    : center;
    	height        : auto;
    	max-width     : 300px;
    	border-radius : 2px;
    	margin        : 20px auto;
        padding       : 20px 10px 10px 10px;
    	box-shadow    : 0px 2px 2px rgba(0, 0, 0, 0.2);
        display: inline-block;
        width: 300px;
    }
}

@media (max-width: 320px) {
    #modal-textbox {
        background-color: azure;
        font-family   : 'Nunito';
        text-align    : center;
    	height        : auto;
    	max-width     : 280px;
    	border-radius : 2px;
    	margin        : 20px auto;
        padding       : 20px 10px 10px 10px;
    	box-shadow    : 0px 2px 2px rgba(0, 0, 0, 0.2);
        display: inline-block;
        width: 280px;
    }
}

fieldset {
    border: 0;
}
label {
    display: block;
    margin: 0;
    padding: 0 0 0.5em 0;
    font-family: 'Nanum Gothic', sans-serif;
    color: mediumblue;
    font-size: 14;
}

.summary-p {
    color: orangered;
}
.summary-list {
    color: darkviolet;
}
.heading {
    color: black;
    font-weight: bolder;
    max-height: 74px;
}
.back-img {
    width: auto;
    height: 90%;
    content: "";
    padding: 0.5em 0 0 0;
    opacity: 0.5;
    top: 7em;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: block;
    margin: auto;
    box-sizing: border-box;
    z-index: -1;
}
@media (max-width: 414px) {
    .back-img {
        width: 380px;
        height: 90%;
        content: "";
        padding: 0.5em 0 0 0;
        opacity: 0.5;
        top: 7em;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        display: block;
        margin: auto;
        box-sizing: border-box;
        z-index: -1;
    }
}
@media (max-width: 375px) {
    .back-img {
        width: 350px;
        height: 90%;
        content: "";
        padding: 0.5em 0 0 0;
        opacity: 0.5;
        top: 7em;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        display: block;
        margin: auto;
        box-sizing: border-box;
        z-index: -1;
    }
}
@media (max-width: 320px) {
    .back-img {
        width: 300px;
        height: 90%;
        content: "";
        padding: 0.5em 0 0 0;
        opacity: 0.5;
        top: 7em;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        display: block;
        margin: auto;
        box-sizing: border-box;
        z-index: -1;
    }
}

#close-text, #close, #close-text2, #close2 {
    margin: 50px 0;
}
#close {
    background-color: #8dcafc;
    padding: 0.2em 0.4em;
    text-decoration: none;
    border-style: none;
    font-weight: 300;
}
#close2 {
    background-color: #8dcafc;
    padding: 0.2em 0.4em;
    text-decoration: none;
    border-style: none;
    font-weight: 300;
}
#close:visited {
    color: black;
}
#close2:visited {
    color: black;
}

ul {
    padding: 0 0 2em 0;
}
.tv-1 {
    height: 100px;
    width: 100px;
    padding: 0.2em 0.8em 0 0
}
.tv-2 {
    height: 60px;
    width: 90px;
    padding: 2em 0 0 2em;
}

@media (max-width: 414px) {
    .tv-1 {
        height: 66px;
        width: 66px;
        padding: 0 0.2em 0 0
    }
    .tv-2 {
        height: 39px;
        width: 60px;
        padding: 1.1em 0.3em 0 1em;
    }
}

@media (max-width: 375px) {
    .tv-1 {
        height: 66px;
        width: 66px;
        padding: 0 0.3em 0 0
    }
    .tv-2 {
        height: 40px;
        width: 60px;
        padding: 1.0em 0 0 0.4em;
    }
}

@media (max-width: 320px) {
    .tv-1 {
        height: 55px;
        width: 55px;
        padding: 0 0.3em 0 0
    }
    .tv-2 {
        height: 33px;
        width: 50px;
        padding: 0.8em 0.3em 0 0;
    }
}

/* .dd-select {
    display: inline-block;
} */

/* #episode-btns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    text-align: left;
    width: 320px;
    margin: 0 40px 0 0;
    padding: 1em 0 0 5em;
    font: inherit;
    overflow-y : auto;
} */
